<% content_for :map_script do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= GP::API_KEY %>"></script>
<% end %>

<script>
$(document).ready(function() {
  window.allComedians = <%= raw Comedian.ordered_by_surname.to_json %>;
  ReactDOM.render(React.createElement(Laughs), document.getElementById('laughs'));
});
</script>

<div id="laughs"></div>