<% content_for :map_script do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= GP::API_KEY %>"></script>
<% end %>
<script>
$(document).ready(function() {
  app.map();
});
</script>

<div id="banner">
  <span id="blurb">
    Click on a marker to show its gigs.
  </span>
  <a id="toggle_overlay" class="btn btn-default">
    Menu
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </a>
</div>

<div id="everything_else">

  <div id="map"></div>

  <div id="overlay" class="container">
    <form id="filter" method="get" data-remote="true">
      <div class="form-group">
        <label>Find gigs performed by</label>
        <select name="comedians[]" id="comedians" class="form-control" multiple="multiple">
          <% Comedian.all.each do |comedian| %>
            <option selected="selected" value="<%= comedian.id %>">
              <img src="http://d39kbiy71leyho.cloudfront.net/wp-content/uploads/2016/05/09170020/cats-politics-TN.jpg" height="40" width="40">
              <%= comedian.name %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="row">
        <div class="col-xs-6 start-container">
          <div class="form-group">
            <label>Start</label>
            <div class="input-group date" id="start_date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <input type="text" name="start_date" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col-xs-6 end-container">
          <div class="form-group">
            <label>End</label>
            <div class="input-group date" id="end_date">
              <input type="text" name="end_date" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-danger" value="Find gigs" />
    </form>
  </div>

</div>