body {
  width: 100%;
  height: 100%;
  position: absolute;

}

// Home page.

#banner {
  height: 40px;
  width: 100%;
  background-color: #444;
  color: white;
  text-align: center;

  #blurb {
    line-height: 40px;
  }

  #toggle_overlay {
    position: absolute;
    top: 6px;
    right: 6px;
    color: black;
    font-size: 12pt;
    padding: 2px 5px;
  }
}

#everything_else {
  height: 100%;

  #map {
    width: 100%;
    height: calc(100% - 40px); 
    position: absolute;
  }

  #overlay {
    position: absolute;
    width: 280px;
    top: 40px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    border-radius: 0 0 0 20px;

    label {
      color: white;
    }
  }
}

// Show Venue page.
#gp_photos {
  
  width: 100%;

  .carousel-inner {
    .item {
      width: 100%;
      height: 500px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

